.cls-1{
  fill:#9d7154;
}

.cls-1,.cls-3,.cls-7{
  stroke:#000;
  stroke-miterlimit:10;
  stroke-width:3px;
}

.cls-2{
  fill:#bed6e9;
}

.cls-2,.cls-6{
  opacity:0.5;
}

.cls-3{
  fill:#7c4527;
}

.cls-4,.cls-7{
  fill:#c1947a;
}

.cls-5,.cls-6{
  fill:#ffd2da;
}
