$brandPrimary: #90D2D5;
$brandSecondary: #C8FFFF;
$angryPrimary: #E93054;
$angrySecondary: #E86282;
$joyfulPrimary: #F8B034;
$joyfulSecondary: #F8C06D;
$disgustedPrimary: #1CAA81;
$disgustedSecondary: #3EBB93;
$sadPrimary: #075D91;
$sadSecondary: #277DA8;
$afraidPrimary: #464FA1;
$afraidSecondary: #626DAA;
$shadow: rgba(0,0,0,.2);
