@import './colors.scss';

.slider {
  width: 85%;
  margin: 0 auto;
}

.rc-slider {
  position: relative;
  height: 1.25rem;
  border-radius: 1.25rem;
  touch-action: none;
  box-sizing: border-box;

  &.joyful {
    .rc-slider-rail {
      background: linear-gradient(to right, #FAD7A0, $joyfulPrimary);
    }
  }

  &.sad {
    .rc-slider-rail {
      background: linear-gradient(to right, #88AEC7, $sadPrimary);
    }
  }

  &.afraid {
    .rc-slider-rail {
      background: linear-gradient(to right, #A3A8CF, $afraidPrimary);
    }
  }

  &.angry {
    .rc-slider-rail {
      background: linear-gradient(to right, #F299AB, $angryPrimary);
    }
  }

  &.disgusted {
    .rc-slider-rail {
      background: linear-gradient(to right, #93D4C0, $disgustedPrimary);
    }
  }
}

.rc-slider-rail, .rc-slider-track {
  position: absolute;
  height: 1.25rem;
  border-radius: 10px;
}

.rc-slider-rail {
  width: 100%;
  box-shadow: 0px 1px 2px $shadow;
}

.rc-slider-track {
  left: 0;
}

.rc-slider-handle {
  position: absolute;
  margin: -0.4rem 0 0 -1rem;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  cursor: grab;
  cursor: -webkit-grab;
  border-radius: 50%;
  box-shadow: 0px 2px 5px $shadow;
  background-color: #fff;
  touch-action: pan-x;

  &:focus {
    outline: none;
  }
}

a {
  text-decoration: none;
}
